DJANGO_SECRET_KEY=
DEBUG=True
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=Nexasupport@NexaKenya.co.ke
TEXT_SMS_API_KEY=
whatsapp_access_token=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_INITIATOR_NAME=
MPESA_SECURITY_CREDENTIAL=
MPESA_B2C_SHORTCODE=
MPESA_STK_CALLBACK_URL=
MPESA_B2C_RESULT_URL=
MPESA_B2C_TIMEOUT_URL=
